{% load i18n %}{% autoescape off %}
    {% blocktranslate %}Otrzymujesz tę wiadomość e-mail, ponieważ poprosiłeś o zresetowanie hasła do swojego konta
        użytkownika pod adresem {{ site_name }}{% endblocktranslate %}
    {% trans "Przejdź do poniższej strony i wybierz nowe hasło:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% trans 'Twoja nazwa użytkownika, na wypadek gdybyś zapomniał:' %} {{ user.get_username }}

    {% trans "Dziękujemy za korzystanie z naszej witryny!" %}

    {% blocktrans %}Zespół {{ site_name }}{% endblocktrans %}

{% endautoescape %}