{% extends 'base.html' %}

{% block title %}Noworodek{% endblock title %}

{% block container %}
    <div class="accordion" id="accordionExample">
        {% for article in object_list %}
            {% if article.article_range == 0 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ article.id }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ article.id }}" aria-expanded="false"
                                aria-controls="collapse{{ article.id }}">
                            {{ article.title }}
                        </button>
                    </h2>
                    <div id="collapse{{ article.id }}" class="accordion-collapse collapse"
                         aria-labelledby="heading{{ article.id }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>{{ article.body }}</p>
                            <img src="{{ article.article_image.url }}" alt="{{ article.title }}"/>
                            <p>{{ article.date }}</p>
                        </div>

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
