{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edytuj profil{% endblock title %}


{% block container %}
    <h2>Edytuj profil</h2>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" class="img-fluid rounded-start">
                {% else %}
                <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Profil {{ user.first_name }}a</h5>
                    <p class="card-text">    {{ user.profile.bio }}
                    </p>
                    <p class="card-text"><small class="text-muted">Ostatnie logowanie {{ user.last_login }}</small></p>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Update</button>
    </form>
{% endblock %}